/* 
==============================
        Pic Styles
==============================
*/

.pic-dp {
    width: 50%;
    height: 100%;
    max-width: 50%;
    max-height: 100%;

    background-image: url('../images/medal_1.png'); 
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    overflow: hidden;
}